:root {
  --white: #ffffff;
  --darker-white: #ffffffe8;
  --low-opacity-white: #ffffff9c;
  --glass: #ffffff2a;

  --glow-blue: #4dbafe59;
  --glow-more-blue: #4dbafe90;
  --shadow: #2b2b2b5d;
  
  --bg-color1: #060c3d;
  --bg-color2: #070c4d;
  --bg-color3: #112463;
  --bg-color4: #162c74;
  --bg-color5: #1d3992;
  --bg-color6: #3050b2;
}