@use '../util' as u;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&display=swap');

*,
*::before,
*::after{
    font-family: "lato", sans-serif;
    box-sizing: border-box;
}

:root{
    --reviews-num: 5;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--bg-color1),var(--bg-color2), var(--bg-color3), var(--bg-color4),var(--bg-color5), var(--bg-color6));

    &::-webkit-scrollbar{
        width: 0.7rem;
    }
    &::-webkit-scrollbar-track{
        background: linear-gradient(var(--bg-color1),var(--bg-color2));
    }
    &::-webkit-scrollbar-thumb{
        background: var(--low-opacity-white);

        &:hover{
            cursor: pointer;
            background: var(--darker-white);
        }
    }
    &::-webkit-scrollbar{
        width: 0.7rem;
    }
}

html {
    scroll-behavior: smooth;
}

section{
    padding: 3.5rem 0.5rem 5.5rem;
    @include u.medium{
        padding: 2rem 0.5rem 4rem;
    }
    @include u.small{
        padding: 1rem 0.5rem 3rem;
    }

    & h1{
        color: var(--white);
        text-align: center;
        font-size: 3rem;
        
        @include u.medium{
            font-size: 2.5rem;
        }
        @include u.small{
            font-size: 2rem;
        }
    }
    & h2{
        color: var(--white);
        text-align: center;
        font-size: 2.5rem;
        
        @include u.medium{
            font-size: 2rem;
        }
        @include u.small{
            font-size: 1.8rem;
        }
    }
    & p{
        font-size: 1.2rem;
        line-height: 1.7em;
        @include u.medium{
            font-size: 1rem;
            line-height: 1.5em;
        }
        @include u.small{
            font-size: 0.9rem;
            line-height: 1.4em;
        }
    }
}