@use '../util' as u;

footer{
    width: 100%;
    margin-top: 4rem;
    padding: 1rem 5rem;
    background: linear-gradient(to bottom right, var(--bg-color3),var(--bg-color2), var(--bg-color1));
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    "socials contact"
    "payment payment"
    "copyright copyright";

    @include u.medium{
        padding: 2rem;
        grid-template-areas: 
        "socials"
        "contact"
        "payment"
        "copyright";
    }
    @include u.small{
        padding: 0.5rem;
        grid-template-areas: 
        "socials"
        "contact"
        "payment"
        "copyright";
    }

    .social-media{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 1rem 0 auto;
        grid-area: socials;

        @include u.medium{
            gap: 1rem;
            justify-content: center;
        }
        @include u.small{
            gap: 0.5rem;
            justify-content: center;
        }
        svg{
            width: 2rem;
            border-radius: 50%;
            cursor: pointer;
            fill: var(--darker-white);

            &:hover{
                fill: var(--white);
                box-shadow:  0 0 30px var(--glow-more-blue);
            }
            @include u.small{
                width: 1.5rem;
            }
        }
    } 

    .payment-methods{
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin: 2rem 0 1rem;
        grid-area: payment;
        
        .icon{
            height: 2.5rem;
            aspect-ratio: 5/3;
            background: var(--white);
            border-radius: 0.3rem;
            text-align: center;
            @include u.small{
                height: 1.5rem;
            }
        }
        img{
            height: 100%;
        }
    }

    .contact-info{
        grid-area: contact;
        place-items: start;
        margin-left: auto;

        .contact{
            display: flex;
            gap: 1rem;
        }
        & .mail::before{
            content: url("../assets/images/mail.svg");
            height: 1rem;
        }
        & .call::before{
            content: url("../assets/images/call.svg");
            height: 1rem;
        }
        & .location::before{
            content: url("../assets/images/location.svg");
            height: 1rem;
        }

        @include u.medium{
            margin: auto;
            padding: 2rem 0;
        }
        @include u.small{
            margin: auto;
            padding: 3rem 0;
        }
    }

    p{
        color: var(--darker-white);
        @include u.small{
            font-size: 0.8rem;
        }
    }
    .copyright{
        grid-area: copyright;
        text-align: center;
        font-size: 0.8rem;
        @include u.small{
            font-size: 0.6rem;
        }
    }
    a{
        font-weight: 700;
        color: var(--white);
    }
}