@use '../util' as u;

header{
    margin: 0;
    padding: 1.5rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--glass);
    backdrop-filter: blur(20px);
    z-index: 99;
    display: flex;
    justify-content: center;

    .sidebar-icon{
        z-index: 999;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        @include u.medium{
            display: none;
        }
        @include u.small{
            display: none;
        }
    }
    a{
        margin: 0;
        width: 5rem;
        text-align: center;
        color: var(--darker-white);
        text-decoration: none;
        font-weight: 500;
        &:hover{
            color: var(--white);
            font-weight: 700;
        }
    }
    .sidebar-icon{
        display: flex;
        flex-flow: column nowrap;
        gap: 0.4rem;
        cursor: pointer;
        margin-left: auto;
        
        @include u.big{
            display: none;
        }
        svg:first-child{
            transition: 0.5s ease-out;
        }
        svg:last-child{
            transition: 0.5s ease-out;
        }
    }
    input{
        opacity: 0;
        position: absolute;
        z-index: 9999;
    }
    input:checked + .sidebar-icon{
        svg:first-child{
            transition: 0.5s ease-out;
            transform: translate(-0.5px, 5px) rotate(-44.99deg);
        }
        svg:last-child{
            transition: 0.5s ease-out;
            transform: translate(0.5px, -5px) rotate(44.11deg);
        }
    }
    input:checked ~ .sidebar{
        right: 0;
        transition: 0.7s ease-out;
    }
}