@use '../util' as u;

#reviews-section{
    padding: 3.5rem 0 5.5rem;
    @include u.medium{
        padding: 2.5rem 0 5rem;
    }
    @include u.small{
        padding: 2rem 0 4rem;
    }
}

.reviews{
    position: relative;
    width: 100%;
    padding: 2rem 0;
    height: 25rem;
    overflow: hidden;

    &:hover .review-card{
        animation-play-state: paused;
        cursor: default;
    }
}

.review-card{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 18rem;
    height: 20rem;
    padding: 2rem;
    
    background-color: var(--darker-white);
    box-shadow:  0 0 30px var(--glow-blue), 0 0 30px var(--glow-blue);
    left: max(calc(18rem * var(--reviews-num)), 100%);
    animation: infinite-scroll 40s linear infinite;

    &:nth-child(1){
        animation-delay: calc(40s / var(--reviews-num) * (var(--reviews-num) - 1) * -1);
    }
    &:nth-child(2){
        animation-delay: calc(40s / var(--reviews-num) * (var(--reviews-num) - 2) * -1);
    }
    &:nth-child(3){
        animation-delay: calc(40s / var(--reviews-num) * (var(--reviews-num) - 3) * -1);
    }
    &:nth-child(4){
        animation-delay: calc(40s / var(--reviews-num) * (var(--reviews-num) - 4) * -1);
    }
    &:nth-child(5){
        animation-delay: calc(40s / var(--reviews-num) * (var(--reviews-num) - 5) * -1);
    }

    @include u.review-bubble;
    @include u.medium{
        width: 15rem;
        height: 17rem;
        padding: 1.8rem;
        left: max(calc(15rem * var(--reviews-num)), 100%);
    }
    @include u.small{
        width: 12rem;
        height: 15rem;
        padding: 1.5rem;
        left: max(calc(12rem * var(--reviews-num)), 100%);
    }

    .star-review{
        max-width: 60%;
        display: flex;
        margin: 0 auto;
    }

    .review-text,
    .user-name{
        font-size: 1rem;
        @include u.medium{
            font-size: 0.8rem;
        }
        @include u.small{
            font-size: 0.7rem;
        }
    }

    .user-name{
        font-weight: 600;
        margin: auto 0 0 50%;
        
    }

    .user-img{
        width: 4rem;
        aspect-ratio: 1/1;
        position: absolute;
        bottom: -2rem;
        border: 3px solid var(--white);
        @include u.circular;

        @include u.medium{
            width: 3.5rem;
            bottom: -1.75rem;
        }
        @include u.small{
            width: 3rem;
            bottom: -1.5rem;
        }
    }
}

@keyframes infinite-scroll{
    to{
        left: -18rem;
    }
}

